body, html, #root, .app {
  height: 100%;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, "Geneva", Verdana;
}

.app {
  display: flex;
  flex-direction: column;
  background-color: #f6e7f7;
}

.header {
  height: 3rem;
  background-color: #aa278f;
  flex-shrink: 0;
}

.container {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}

textarea, input {
  width: 100%;
  resize: none;
  font-family: "Segoe UI", Tahoma, "Geneva", Verdana;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

textarea {
  padding: 0 0.5rem;
  line-height: 24px;
  border-radius: 3px;
  border-color: #dadce0;
}

input {
  padding: 0.5rem 0;
  border: none;
  border-bottom: 1px solid #dadce0;
}

select {
  border-radius: 3px;
  border-color: #dadce0;
  font-family: "Segoe UI", Tahoma, "Geneva", Verdana;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

textarea:focus, input:focus, select:focus {
  outline: none;
  background-color: #fafafa;
}

.icon.square {
  margin-left: 0.5rem;
  margin-top: 0.05rem;
  cursor: pointer;
}

/************************************/
/*         HEADER                   */
/************************************/
.header {
  display: flex;
}
.header-bar-left,
.header-bar-right  {
  display: flex;
}

.header-bar-right {
  flex: 1;
  justify-content: flex-end;
}

.header input {
  margin-left: 1rem;
  margin-top: 0.25rem;
  height: 2rem;
  width: 20rem;
  color: #fff;
  background-color: transparent;
}

.header-button {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 1rem;
  padding: 0.75rem 0.75rem 0.5rem;
  cursor: pointer;
  height: 3rem;
}

.header-button:hover {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.header-button span {
  font-size: 1rem;
  margin-left: 0.5rem;
}

.toggle-view {
  width: 10.75rem;
}

/************************************/
/*         TUTORIAL MD              */
/************************************/

.tutorial-markdown {
  display: flex;
  height: 100%;
}

.tutorial-markdown textarea {
  border-radius: 8px;
}

/************************************/
/*         TUTORIAL STEP            */
/************************************/

.tutorial-step {
  display: flex;
  position: relative;
}

.tutorial-step.animating.up {
  transform: translateY(-20.5rem);
  transition: all 0.4s ease-out;
}
.tutorial-step.animating.down {
  transform: translateY(20.5rem);
  transition: all 0.4s ease-out;
}

.tutorial-step-container,
.step-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.tutorial-step-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 3rem;
  flex-shrink: 0;
  margin: 0 0 0.5rem 0.5rem;

  border-radius: 8px;
  border: 1px solid #dadce0;
  background-color: #fff;
}

.step-button {
  font-size: 1.5rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  cursor: pointer;
}
.step-button i {
  margin: 0;
  color: #c560b1;
}
.step-button:hover i {
  color: #aa278f;
}

.tutorial-step-body {
  display: flex;
  flex: 1;
  margin-bottom: 0.5rem;
  padding: 1rem 1rem 1rem 0;
  min-height: 6rem;

  border-radius: 8px;
  border: 1px solid #dadce0;
  background-color: #fff;
}


.step-title {
  margin-bottom: 0.5rem;
  display: flex;
}

.step-title input {
  margin-right: 0.5rem;
}


/************************************/
/*         STEP HANDLE              */
/************************************/

.step-handle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem 0.5rem;
  color: #ccc;
  user-select: none;
}

.step-handle > div {
  display: flex;
  flex: 1;
}

.step-handle-bottom {
  align-items: flex-end;
}

.step-handle i:hover {
  color: #999;
  cursor: pointer;
}

/************************************/
/*         TUTORIAL HINT            */
/************************************/

.hint-controls {
  display: flex;
  margin: 0.5rem 0;
}

.hint-controls-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.hint-controls select {
  margin-left: 0.5rem;
}

.hint-body {
  height: 5rem;
  border-radius: 8px;
  border: 1px solid #dadce0;
  overflow: hidden;
}